{% load static %}
<!DOCTYPE html>
<html lang="en" class="no-js loading">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Prophet Tinashe R. Mugandani - Global Word Ministries International</title>
    <meta name="keywords" content="Prophet Tinashe Mugandani, Global Word Ministries, prophetic teaching, deliverance ministry, spiritual warfare, prayer and fasting, faith messages, revival, Holy Spirit, divine timing, kingdom principles, prophetic declarations, online sermons">
    <meta name="description" content="Prophet Tinashe R. Mugandani of Global Word Ministries International - powerful prophetic teachings, deliverance, and revival. Watch sermons on prayer, faith, divine timing, and spiritual warfare.">


    <meta name="author" content="Mufudzi Christopher" />
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Nanum+Gothic+Coding&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'videos/css/base.css' %}" />
    <script>document.documentElement.className="js";</script>
  </head>
  <body class="demo-3">
    <main>
      <header class="frame">
        <h1 class="frame__title"><a class="hover-effect" href="{% url 'home:home' %}">#Home</a></h1>
        {% comment %} <a class="frame__back hover-effect" href="https://tympanus.net/codrops/?p=78645">Article</a>
        <a class="frame__archive hover-effect" href="https://tympanus.net/codrops/demos/">All demos</a>
        <a class="frame__github hover-effect" href="https://github.com/codrops/LineTextHoverAnimations/">GitHub</a>
        <nav class="frame__demos">
          <span>Variations:</strong></span>
          <a class="hover-effect" href="index.html">V1</a>
          <a class="hover-effect" href="index2.html">V2</a>
          <span>V3</strong></span>
          <a class="hover-effect" href="index4.html">V4</a>
        </nav> {% endcomment %}
      </header>
<section class="content">
  <h1 class="content__title">Prophetic Teachings</h1>
  <ul class="list">
    <li class="list__item">
      <a href="https://youtube.com/watch?v=EbiegOKHd7k&list=PLFxzSNQZqyBcI-_OJcTm3Mwrv53d_GSSq&index=1" target="_blank" class="list__link">
        <span class="list__item-col tc hover-effect"><strong>Darkness - God's Primordial</strong></span>
        <span class="list__item-col tc hover-effect"><strong>Global Word Ministries</strong></span>
        <span class="list__item-col tc hover-effect"><strong>2023-05-15</strong></span>
        <span class="list__item-col tc hover-effect"><strong>2:26</strong></span>
      </a>
    </li>
    <li class="list__item">
      <a href="https://youtube.com/watch?v=EbiegOKHd7k&list=PLFxzSNQZqyBcI-_OJcTm3Mwrv53d_GSSq&index=2" target="_blank" class="list__link">
        <span class="list__item-col tc hover-effect"><strong>Darkness - The Birthing Place</strong></span>
        <span class="list__item-col tc hover-effect"><strong>Global Word Ministries</strong></span>
        <span class="list__item-col tc hover-effect"><strong>2023-06-22</strong></span>
        <span class="list__item-col tc hover-effect"><strong>2:31</strong></span>
      </a>
    </li>
    <li class="list__item">
      <a href="https://youtube.com/watch?v=EbiegOKHd7k&list=PLFxzSNQZqyBcI-_OJcTm3Mwrv53d_GSSq&index=3" target="_blank" class="list__link">
        <span class="list__item-col tc hover-effect"><strong>Background Check</strong></span>
        <span class="list__item-col tc hover-effect"><strong>Global Word Ministries</strong></span>
        <span class="list__item-col tc hover-effect"><strong>2023-07-10</strong></span>
        <span class="list__item-col tc hover-effect"><strong>4:13</strong></span>
      </a>
    </li>
    <li class="list__item">
      <a href="https://youtube.com/watch?v=EbiegOKHd7k&list=PLFxzSNQZqyBcI-_OJcTm3Mwrv53d_GSSq&index=4" target="_blank" class="list__link">
        <span class="list__item-col tc hover-effect"><strong>Laws That Sustain Your World - REVELATION</strong></span>
        <span class="list__item-col tc hover-effect"><strong>Global Word Ministries</strong></span>
        <span class="list__item-col tc hover-effect"><strong>2023-08-05</strong></span>
        <span class="list__item-col tc hover-effect"><strong>3:26</strong></span>
      </a>
    </li>
    <li class="list__item">
      <a href="https://youtube.com/watch?v=EbiegOKHd7k&list=PLFxzSNQZqyBcI-_OJcTm3Mwrv53d_GSSq&index=5" target="_blank" class="list__link">
        <span class="list__item-col tc hover-effect"><strong>God Is Checking The Settings Of Your Heart</strong></span>
        <span class="list__item-col tc hover-effect"><strong>Global Word Ministries</strong></span>
        <span class="list__item-col tc hover-effect"><strong>2023-09-18</strong></span>
        <span class="list__item-col tc hover-effect"><strong>3:12</strong></span>
      </a>
    </li>
    <li class="list__item">
      <a href="https://youtube.com/watch?v=EbiegOKHd7k&list=PLFxzSNQZqyBcI-_OJcTm3Mwrv53d_GSSq&index=6" target="_blank" class="list__link">
        <span class="list__item-col tc hover-effect"><strong>Laws That Sustain Your World - FAITH</strong></span>
        <span class="list__item-col tc hover-effect"><strong>Global Word Ministries</strong></span>
        <span class="list__item-col tc hover-effect"><strong>2023-10-03</strong></span>
        <span class="list__item-col tc hover-effect"><strong>5:45</strong></span>
      </a>
    </li>
    <li class="list__item">
      <a href="https://youtube.com/watch?v=EbiegOKHd7k&list=PLFxzSNQZqyBcI-_OJcTm3Mwrv53d_GSSq&index=7" target="_blank" class="list__link">
        <span class="list__item-col tc hover-effect"><strong>You Are A Type Of A World</strong></span>
        <span class="list__item-col tc hover-effect"><strong>Global Word Ministries</strong></span>
        <span class="list__item-col tc hover-effect"><strong>2023-11-12</strong></span>
        <span class="list__item-col tc hover-effect"><strong>4:16</strong></span>
      </a>
    </li>
    <li class="list__item">
      <a href="https://youtube.com/watch?v=EbiegOKHd7k&list=PLFxzSNQZqyBcI-_OJcTm3Mwrv53d_GSSq&index=8" target="_blank" class="list__link">
        <span class="list__item-col tc hover-effect"><strong>Isolated For Development</strong></span>
        <span class="list__item-col tc hover-effect"><strong>Global Word Ministries</strong></span>
        <span class="list__item-col tc hover-effect"><strong>2023-12-07</strong></span>
        <span class="list__item-col tc hover-effect"><strong>3:22</strong></span>
      </a>
    </li>
    <li class="list__item">
      <a href="https://youtube.com/watch?v=EbiegOKHd7k&list=PLFxzSNQZqyBcI-_OJcTm3Mwrv53d_GSSq&index=9" target="_blank" class="list__link">
        <span class="list__item-col tc hover-effect"><strong>Beware Of The Enemy Within</strong></span>
        <span class="list__item-col tc hover-effect"><strong>Global Word Ministries</strong></span>
        <span class="list__item-col tc hover-effect"><strong>2024-01-15</strong></span>
        <span class="list__item-col tc hover-effect"><strong>2:17</strong></span>
      </a>
    </li>
    <li class="list__item">
      <a href="https://youtube.com/watch?v=EbiegOKHd7k&list=PLFxzSNQZqyBcI-_OJcTm3Mwrv53d_GSSq&index=10" target="_blank" class="list__link">
        <span class="list__item-col tc hover-effect"><strong>God Doesn't Judge You From Your External Appearance</strong></span>
        <span class="list__item-col tc hover-effect"><strong>Global Word Ministries</strong></span>
        <span class="list__item-col tc hover-effect"><strong>2024-02-20</strong></span>
        <span class="list__item-col tc hover-effect"><strong>4:08</strong></span>
      </a>
    </li>
    <li class="list__item">
      <a href="https://youtube.com/watch?v=EbiegOKHd7k&list=PLFxzSNQZqyBcI-_OJcTm3Mwrv53d_GSSq&index=11" target="_blank" class="list__link">
        <span class="list__item-col tc hover-effect"><strong>GROWTH</strong></span>
        <span class="list__item-col tc hover-effect"><strong>Global Word Ministries</strong></span>
        <span class="list__item-col tc hover-effect"><strong>2024-03-05</strong></span>
        <span class="list__item-col tc hover-effect"><strong>4:03</strong></span>
      </a>
    </li>
    <li class="list__item">
      <a href="https://youtube.com/watch?v=EbiegOKHd7k&list=PLFxzSNQZqyBcI-_OJcTm3Mwrv53d_GSSq&index=12" target="_blank" class="list__link">
        <span class="list__item-col tc hover-effect"><strong>EXIT to ENTER</strong></span>
        <span class="list__item-col tc hover-effect"><strong>Global Word Ministries</strong></span>
        <span class="list__item-col tc hover-effect"><strong>2024-04-10</strong></span>
        <span class="list__item-col tc hover-effect"><strong>2:13</strong></span>
      </a>
    </li>
    <li class="list__item">
      <a href="https://youtube.com/watch?v=EbiegOKHd7k&list=PLFxzSNQZqyBcI-_OJcTm3Mwrv53d_GSSq&index=13" target="_blank" class="list__link">
        <span class="list__item-col tc hover-effect"><strong>ADVANCEMENT</strong></span>
        <span class="list__item-col tc hover-effect"><strong>Global Word Ministries</strong></span>
        <span class="list__item-col tc hover-effect"><strong>2024-05-15</strong></span>
        <span class="list__item-col tc hover-effect"><strong>2:16</strong></span>
      </a>
    </li>
    <li class="list__item">
      <a href="https://youtube.com/watch?v=EbiegOKHd7k&list=PLFxzSNQZqyBcI-_OJcTm3Mwrv53d_GSSq&index=14" target="_blank" class="list__link">
        <span class="list__item-col tc hover-effect"><strong>THE HOLY-GHOST MOMENT</strong></span>
        <span class="list__item-col tc hover-effect"><strong>Global Word Ministries</strong></span>
        <span class="list__item-col tc hover-effect"><strong>2024-01-26</strong></span>
        <span class="list__item-col tc hover-effect"><strong>3:13</strong></span>
      </a>
    </li>
    <li class="list__item">
      <a href="https://youtube.com/watch?v=EbiegOKHd7k&list=PLFxzSNQZqyBcI-_OJcTm3Mwrv53d_GSSq&index=15" target="_blank" class="list__link">
        <span class="list__item-col tc hover-effect"><strong>ACCEPT YOUR CONDITION</strong></span>
        <span class="list__item-col tc hover-effect"><strong>Global Word Ministries</strong></span>
        <span class="list__item-col tc hover-effect"><strong>2024-06-20</strong></span>
        <span class="list__item-col tc hover-effect"><strong>2:00</strong></span>
      </a>
    </li>
    <li class="list__item">
      <a href="https://youtube.com/watch?v=EbiegOKHd7k&list=PLFxzSNQZqyBcI-_OJcTm3Mwrv53d_GSSq&index=16" target="_blank" class="list__link">
        <span class="list__item-col tc hover-effect"><strong>THE POWER OF AN ATMOSPHERE</strong></span>
        <span class="list__item-col tc hover-effect"><strong>Global Word Ministries</strong></span>
        <span class="list__item-col tc hover-effect"><strong>2024-07-25</strong></span>
        <span class="list__item-col tc hover-effect"><strong>3:29</strong></span>
      </a>
    </li>
    <li class="list__item">
      <a href="https://youtube.com/watch?v=EbiegOKHd7k&list=PLFxzSNQZqyBcI-_OJcTm3Mwrv53d_GSSq&index=17" target="_blank" class="list__link">
        <span class="list__item-col tc hover-effect"><strong>GOD IS AFTER YOU</strong></span>
        <span class="list__item-col tc hover-effect"><strong>Global Word Ministries</strong></span>
        <span class="list__item-col tc hover-effect"><strong>2024-08-30</strong></span>
        <span class="list__item-col tc hover-effect"><strong>2:27</strong></span>
      </a>
    </li>
    <li class="list__item">
      <a href="https://youtube.com/watch?v=EbiegOKHd7k&list=PLFxzSNQZqyBcI-_OJcTm3Mwrv53d_GSSq&index=18" target="_blank" class="list__link">
        <span class="list__item-col tc hover-effect"><strong>THE BLESSING IN YOUR ASSIGNMENT</strong></span>
        <span class="list__item-col tc hover-effect"><strong>Global Word Ministries</strong></span>
        <span class="list__item-col tc hover-effect"><strong>2024-09-05</strong></span>
        <span class="list__item-col tc hover-effect"><strong>2:46</strong></span>
      </a>
    </li>
    <li class="list__item">
      <a href="https://youtube.com/watch?v=EbiegOKHd7k&list=PLFxzSNQZqyBcI-_OJcTm3Mwrv53d_GSSq&index=19" target="_blank" class="list__link">
        <span class="list__item-col tc hover-effect"><strong>CROSS-OVER 2025 HIGHLIGHTS</strong></span>
        <span class="list__item-col tc hover-effect"><strong>Global Word Ministries</strong></span>
        <span class="list__item-col tc hover-effect"><strong>2024-10-10</strong></span>
        <span class="list__item-col tc hover-effect"><strong>1:39</strong></span>
      </a>
    </li>
    <li class="list__item">
      <a href="https://youtube.com/watch?v=EbiegOKHd7k&list=PLFxzSNQZqyBcI-_OJcTm3Mwrv53d_GSSq&index=20" target="_blank" class="list__link">
        <span class="list__item-col tc hover-effect"><strong>CROSS-OVER 2025 HIGHLIGHTS</strong></span>
        <span class="list__item-col tc hover-effect"><strong>Global Word Ministries</strong></span>
        <span class="list__item-col tc hover-effect"><strong>2024-11-15</strong></span>
        <span class="list__item-col tc hover-effect"><strong>1:27</strong></span>
      </a>
    </li>
    <li class="list__item">
      <a href="https://youtube.com/watch?v=EbiegOKHd7k&list=PLFxzSNQZqyBcI-_OJcTm3Mwrv53d_GSSq&index=21" target="_blank" class="list__link">
        <span class="list__item-col tc hover-effect"><strong>THE GOD OF PATTERNS</strong></span>
        <span class="list__item-col tc hover-effect"><strong>Global Word Ministries</strong></span>
        <span class="list__item-col tc hover-effect"><strong>2024-12-20</strong></span>
        <span class="list__item-col tc hover-effect"><strong>3:23</strong></span>
      </a>
    </li>
  </ul>
</section>
    </main>
    <!-- JavaScript dependencies -->
    <!-- GSAP library -->
    <script src="{% static 'videos/js/gsap.min.js' %}"></script>
    <!-- SplitType for text manipulation: https://github.com/lukePeavey/SplitType -->
    <script src="{% static 'videos/js/split-type.min.js' %}"></script>
    <!-- Scripts for the effect -->
    <script type="module" src="{% static 'videos/js/effect-3/index.js' %}"></script>
  </body>
</html>
